<div class ="admin-page">
    <div class ="admin-content">
          <header class="justify-content-flex-end d-flex align-items-center" role="banner" style="vertical-align: middle">
                <ul class="utilities d-flex align-items-center">
                  <li class="img-user mr-2">
                    <img class="rounded" alt="Cinque Terre" width="50" height="50" src="{{currentUser.image}}"/>
                  </li>
                  <li class="mr-3">{{currentUser.name}}</li>
                  <li class="logout warn"><a (click) ="logout()">Đăng xuất</a></li>
                </ul>
              </header>

              <nav role='navigation'>
                <h1>Trang quản trị</h1>
                <ul class="main">
<!--                  <li class="dashboard"><a href="admindashboard">Dashboard</a></li>-->
                  <li class="users"><a routerLink = "/admin/list-user">Danh sách nhân viên</a></li>
                  <li class="users"><a routerLink = "/admin/create-user">Tạo nhân viên</a></li>
                  <li class="edit"><a href="#">Sửa thông tin</a></li>
                  <li class="comments"><a href="#">Danh sách bài viết chờ</a></li>
                  <li class="comments"><a href="#">Danh sách bài viết của bạn</a></li>
                  <li class="write"><a routerLink="/admin/news">Tạo bài viết</a></li>
                </ul>
              </nav>

              <main role="main">
                <router-outlet></router-outlet>
              </main>

        </div>
        <div class = "user-list">
            <div class="content">
                <ul *ngFor="let item of data">
                    <li (click)="onPressOpenChatBox(item.id)" [class.active]="item.id == selectedId" style="vertical-align: center;">
                      <span class = "avatar">{{item.clientName[0]}}</span>
                      <span style="font-weight: bold">{{item.clientName}}</span>
                      <div class="close" aria-label="Close" style="font-size: 30px" (click)="closeRoom(item.id, $event)">
                        <span style="color: red">&times;</span>
                      </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <app-chat #appChat class="admin-content__message" isChatAdmin='true'></app-chat>
