.admin-form {
  width: 90%;
  margin: 20px auto 0;
}
.form-group {
  input {
    border-radius: 5px;
    outline: none;
    border: 1px solid #aaa;
    height: 36px;
  }
  button {
    border: 1px solid #aaa;
  }
  textarea {
    border-radius: 5px;
    outline: none;
    border: 1px solid #aaa;
    line-height: 30px;
  }
  label {
    
  }
}