
<form [formGroup]="chatForm" [class]="!isAdmin ? 'formchat-wrap' : 'formchat-admin'">
    <div class="chat-header" (click)="onPressCloseHeader()">
    </div>
    <div id="username-page" >
        <div class="username-page-container">
            <h1 class="title">Type your username</h1>
                <div class="form-group">
                    <input type="text" id="name" placeholder="Username" autocomplete="off" class="form-control" formControlName="Username" />
                    <input type="text" id="id" placeholder="ChatRoom" autocomplete="off" class="form-control" formControlName="RoomId" />

                </div>
                <div class="form-group">
                    <button type="submit" class="accent username-submit" (click)="connect()">Start Chatting</button>
                </div>
        </div>
    </div>
    
    <div id="chat-page" >
        <div class="chat-container">
            <ul id="messageAreaMuti">
    
            </ul>
                <div class="form-group chat-content">
                    <div class="input-group clearfix">
                        <input type="text" id="message" formControlName="Message" placeholder="Type a message..." autocomplete="off" class="form-control"/>
                        <button type="submit" class="primary" (click)="sendMessage()">Send</button>
                    </div>
                </div>
        </div>
    </div>
</form>



   <!-- <div id="username-page">
    <div class="username-page-container">
      <h1 class="title">Enter a username and room ID</h1>
      <form id="usernameForm" name="usernameForm">
        <div class="form-group">
          <input type="text" id="name" placeholder="Username" autocomplete="off" class="form-control" />
        </div>
        <div class="form-group">
          <input type="text" id="room-id" value="lobby" placeholder="Room ID" autocomplete="off" class="form-control" />
        </div>
        <div class="form-group">
          <button type="submit" class="accent username-submit">Start Chatting</button>
        </div>
      </form>
    </div>
  </div>
  
  <div id="chat-page" class="hidden">
    <div class="chat-container">
      <div class="chat-header">
        <h2>Chatroom [<span id="room-id-display"></span>]</h2>
      </div>
      <div class="connecting">
        Connecting...
      </div>
      <ul id="messageArea">
  
      </ul>
      <form id="messageForm" name="messageForm" nameForm="messageForm">
        <div class="form-group">
          <div class="input-group clearfix">
            <input type="text" id="message" placeholder="Type a message... or /join [room-id] to join another room."
                   autocomplete="off" class="form-control"/>
            <button type="submit" class="primary">Send</button>
          </div>
        </div>
      </form>
    </div>
  </div> -->