<div class="banner-1">
		
</div>
<!--banner-end-->
<!--clients-->
  <div class="clients">
    <div class="container">
      <div class="cli-top">
        <div class="col-md-4 clients-left">
          <img src="../assets/images/12.jpg" alt=" " class="img-responsive">
          <h5><a href="#">Roger</a></h5>
          <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
          <a class="hvr-shutter-in-horizontal" href="#">More</a>
        </div>
        <div class="col-md-4 clients-left">
          <img src="../assets/images/13.jpg" alt=" " class="img-responsive">
          <h5><a href="#">Sander</a></h5>
          <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
          <a class="hvr-shutter-in-horizontal" href="#">More</a>
        </div>
        <div class="col-md-4 clients-left">
          <img src="../assets/images/14.jpg" alt=" " class="img-responsive">
          <h5><a href="#">Lawrence</a></h5>
          <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
          <a class="hvr-shutter-in-horizontal" href="#">More</a>
        </div>
        <div class="clearfix"></div>
      </div>
        <div class="col-md-4 clients-left">
          <img src="../assets/images/15.jpg" alt=" " class="img-responsive">
          <h5><a href="#">Reese</a></h5>
          <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
          <a class="hvr-shutter-in-horizontal" href="#">More</a>
        </div>
        <div class="col-md-4 clients-left">
          <img src="../assets/images/16.jpg" alt=" " class="img-responsive">
          <h5><a href="#">Donald</a></h5>
          <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
          <a class="hvr-shutter-in-horizontal" href="#">More</a>
        </div>
        <div class="col-md-4 clients-left">
          <img src="../assets/images/17.jpg" alt=" " class="img-responsive">
          <h5><a href="#">Sandford</a></h5>
          <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
          <a class="hvr-shutter-in-horizontal" href="#">More</a>
        </div>
        <div class="clearfix"></div>
      
    </div>
  </div>