<div class="header-top">
  <div class="container">
      <div class="head-main">
          <!-- <h1><a href="index.html">LAW</a></h1> -->
          <img routerLink="/home" src="../assets/images/logo.jpg" alt="" height="75" width="60">
      </div>
      
      <div class="hea-rgt">
          <a href="#">Tạo cuộc hẹn</a>
      </div>
      <div class="navigation">
           <nav class="navbar navbar-default" role="navigation">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
          </div>
          <!--/.navbar-header-->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
               <li ><a routerLink="/home">Trang chủ</a></li> 
                  <li><a routerLink="/practice">Hoạt động</a></li>
                  <li><a  routerLink="/clients">Khách hàng</a></li>
                  <li><a routerLink="/resources">Tài nguyên</a></li>
                  <li><a  routerLink="/typo">Giới thiệu</a></li>
                  <li><a routerLink="/contact">Liên hệ</a></li>
                  <li><a routerLink="/register">Đăng ký</a></li>
              </ul>
          </div>
          <!--/.navbar-collapse-->
      </nav>
      </div>
      <div class="clearfix"></div>
  </div>
</div>
<!--header-top-end-->
<!--start-header-->
<div class="header">
  <div class="container">
      <div class="head">
          <div class="soc">
              <ul>
                  <li><a href="#"><span class="fb"> </span></a></li>
                  <li><a href="#"><span class="twit"> </span></a></li>
                  <li><a href="#"><span class="pin"> </span></a></li>
                  <li><a href="#"><span class="rss"> </span></a></li>
                  <li><a href="#"><span class="drbl"> </span></a></li>
                  <div class="clearfix"></div>
              </ul>
          </div>
          <div class="header-right">
              <div class="search-bar">
                  <!-- <form> -->
                      <input type="text" value="Tìm kiếm..." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}">
                      <input type="submit" value="">
                  <!-- </form> -->
              </div>
          </div>
          
              <div class="clearfix"></div>
      </div>
  </div>
</div>	
