<header id="header" class="site-header header-style-1">
    <div class="topbar" style="">
        <div class="container">
            <div class="row">
                <div class="col col-md-10">
                    <div class="contact-info ">
                        <ul>
                            <li><i class="ti-location-pin"></i>Hà Nội, Việt Nam</li>
                            <li><i class="ti-mobile"></i>1254-145(25455)</li>
                            <li><i class="ti-email"></i>luatdanhviet@gmail.com</li>
                        </ul>
                    </div>
                </div>
                <div class="col col-md-2">
                    <div class="social ">
                        <ul>
                            <li><a ><i class="ti-facebook" style=""></i></a></li>
                            <li><a ><i class="ti-twitter-alt" style=""></i></a></li>
                            <li><a ><i class="ti-linkedin" style=""></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <nav class="navigation  sticky-menu-on  navbar navbar-default original">
        <!-- Navigation & Search -->
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="open-btn">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="site-logo  has_menu " style="">
                    <a class="navbar-brand" href= "">
                        <img src="../../../assets/images/logo.jpg" alt="Aequity">
                    </a>
                </div>
            </div>
            <div id="navbar" class="navbar-collapse collapse navigation-holder  has-cta   navbar-right ">
                <button class="close-navbar"><i class="ti-close"></i></button>
                <ul id="menu-main-menu" class="nav navbar-nav">
                    <li id="menu-item-15"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-15">
                        <a href= "">Trang chủ</a>
                    </li>
                    <li id="menu-item-16"
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-16">
                        <a >Giới thiệu</a>
                        <ul class="sub-menu">
                            <li id="menu-item-100"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-100"><a
                                routerLink="/typo">Về chúng tôi</a></li>
                            <li id="menu-item-130"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-130"><a
                                routerLink="/typo">Liên hệ</a></li>
                        </ul>
                    </li>
                    <li id="menu-item-17"
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-17">
                        <a >Lĩnh vực hoạt động</a>
                        <ul class="sub-menu" >

                          <li id="menu-item-" *ngFor="let field of listField"
                              class="menu-item menu-item-type-post_type menu-item-object-page menu-item-101">
                              <a [routerLink]="['/field', field.id]">{{field.name}}</a></li>



<!--                            <li id="menu-item-101"-->
<!--                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-101"><a-->
<!--                                    href="">Tư vấn pháp luật</a></li>-->
<!--                            <li id="menu-item-102"-->
<!--                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-102"><a-->
<!--                                    href="">Tham gia tố tụng</a></li>-->
<!--                            <li id="menu-item-103"-->
<!--                                class="menu-item menu-item-type-post_type menu-item-object-practice menu-item-103"><a-->
<!--                                    href="">Đại diện ngoài tố tụng cho khách hàng</a></li>-->
<!--                            <li id="menu-item-104"-->
<!--                                class="menu-item menu-item-type-post_type menu-item-object-practice menu-item-104"><a-->
<!--                                    href="">Thực hiện các dịch vụ pháp lý khác</a></li>-->
                        </ul>
                    </li>
                    <li id="menu-item-18"
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-18">
                        <a>Đội ngũ luật sư</a>
                        <ul class="sub-menu">
                            <li id="menu-item-105"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-105"><a
                                routerLink = "/lawyer-list/1">Luật sư</a></li>
                            <li id="menu-item-106"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-106"><a
                                routerLink = "/lawyer-list/2">Chuyên viên</a></li>
                            <li id="menu-item-107"
                                class="menu-item menu-item-type-post_type menu-item-object-case menu-item-107"><a
                                routerLink = "/lawyer-list/3">Thực tập sinh</a>
                            </li>
                            <li id="menu-item-108"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-108"><a
                                routerLink = "/lawyer-list/4">Tập sự</a></li>
                        </ul>
                    </li>
                    <li id="menu-item-19"
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-19">
                        <a >Tin tức</a>
                        <ul class="sub-menu">
<!--                            <li id="menu-item-109"-->
<!--                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-109"><a-->
<!--                                    href="">Tin tức nổi bật</a></li>-->
                            <li id="menu-item-110"
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-110"><a
                                   routerLink = "/news">Tin tức mới</a></li>
                            <li id="menu-item-111"
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-111">
                              <a routerLink = "/news">Bài viết luật sư</a></li>
                        </ul>
                    </li>
                    <li id="menu-item-20" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-20">
                        <a href="">Văn bản pháp luật</a>
                    </li>
                    <!-- <li id="menu-item-21" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-21">
                            <a href="">Liên hệ</a></li> -->
                </ul>
            </div><!-- end of nav-collapse -->
            <div class="search-quote">
                <div class="header-search-area">
                  <div class="header-search-form">
                      <form method="get" class="form" action="/tf/wp1/aequity/">
                          <div>
                            <input type="text" name="s" id="s" class="form-control" placeholder="Search here">
                          </div>
                          <button type="submit" class="btn"><i class="fi flaticon-magnifying-glass-browser"></i></button>
                      </form>
                  </div>
                  <div>
                      <button class="btn open-btn"><i class="fi flaticon-magnifying-glass-browser"></i></button>
                  </div>
              </div>
                   <div class="quote">
                    <a href="#" class=" theme-btn ">Đặt lịch hẹn</a>
                </div>
                </div>
        </div><!-- end of container -->


    </nav>
    <nav class="navigation  sticky-menu-on  navbar navbar-default sticky-header">
        <!-- Navigation & Search -->
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="open-btn">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="site-logo  has_menu " style="">
                    <a class="navbar-brand" href="/tf/wp1/aequity/">
                        <img src="../../../assets/images/logo.jpg" alt="Aequity">
                    </a>
                </div>
            </div>
            <div id="navbar" class="navbar-collapse collapse navigation-holder  has-cta   navbar-right ">
                <button class="close-navbar"><i class="ti-close"></i></button>
                <ul id="menu-main-menu" class="nav navbar-nav">
                    <li id="menu-item-15"
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-15">
                        <a href="/tf/wp1/aequity/home/">Trang chủ</a>
                    </li>
                    <li id="menu-item-16"
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-16">
                        <a >Giới thiệu</a>
                        <ul class="sub-menu">
                            <li id="menu-item-112"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-112"><a
                                    href="/tf/wp1/aequity/about/">Về chúng tôi</a></li>
                        </ul>
                    </li>
                    <li id="menu-item-17"
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-17">
                        <a >Lĩnh vực hoạt động</a>
                        <ul class="sub-menu">
                            <li id="menu-item-113"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-113"><a
                                    href="">Tư vấn pháp luật</a></li>
                            <li id="menu-item-114"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-114"><a
                                    href="">Tham gia tố tụng</a></li>
                            <li id="menu-item-115"
                                class="menu-item menu-item-type-post_type menu-item-object-practice menu-item-115"><a
                                    href="">Đại diện ngoài tố tụng cho khách hàng</a></li>
                            <li id="menu-item-115"
                                class="menu-item menu-item-type-post_type menu-item-object-practice menu-item-115"><a
                                    href="">Thực hiện các dịch vụ pháp lý khác</a></li>
                        </ul>
                    </li>
                    <li id="menu-item-18"
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-18">
                        <a>Nhân sự đội ngũ</a>
                        <ul class="sub-menu">
                            <li id="menu-item-116"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-116"><a
                                    href="">Luật sư</a></li>
                            <li id="menu-item-117"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-117"><a
                                    href="">Chuyên viên</a></li>
                            <li id="menu-item-118"
                                class="menu-item menu-item-type-post_type menu-item-object-case menu-item-118"><a
                                    href="/tf/wp1/aequity/case/a-collection-of-textile-samples-lay-spread/">Thực tập sinh</a>
                            </li>
                            <li id="menu-item-119"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-119"><a
                                    href="">Tập sự</a></li>
                        </ul>
                    </li>
                    <li id="menu-item-19"
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-19">
                        <a >Tin tức pháp luật</a>
                        <ul class="sub-menu">
                            <li id="menu-item-120"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-121"><a
                                    href="">Tin tức nổi bật</a></li>
                            <li id="menu-item-122"
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-122"><a
                                    href="">Tin tức mới</a></li>
                            <li id="menu-item-123"
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-123"><a
                                    href="">Bài viết luật sư</a></li>
                        </ul>
                    </li>
                    <li id="menu-item-20" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-20">
                        <a href="">Văn bản pháp luật</a>
                    </li>
                    <!-- <li id="menu-item-21" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-21">
                            <a href="">Liên hệ</a></li> -->
                </ul>
            </div><!-- end of nav-collapse -->
            <div class="search-quote">
                    <div class="header-search-area">
                      <div class="header-search-form">
                          <form method="get" class="form" action="/tf/wp1/aequity/">
                              <div>
                                <input type="text" name="s" id="s" class="form-control" placeholder="Search here">
                              </div>
                              <button type="submit" class="btn"><i class="fi flaticon-magnifying-glass-browser"></i></button>
                          </form>
                      </div>
                      <div>
                          <button class="btn open-btn"><i class="fi flaticon-magnifying-glass-browser"></i></button>
                      </div>
                  </div>
                       <div class="quote">
                        <a href="/tf/wp1/aequity/contact/" class=" theme-btn ">Đặt lịch hẹn</a>
                    </div>
                    </div>
        </div><!-- end of container -->


    </nav>
</header>
