<div class="row">
    <div class="container">
        <div class="first-introduce">
            <!-- /page1/ -->
            <div class="col-md-12 text-center space">
                <img src="../assets/images/Anh1.PNG" alt="" width="70%" height="70%">
            </div>
            <div class="col-md-12 space">
                <span class="padding-root">
                    Lời đầu tiên, Công ty Luật TNHH Quốc tế Danh Việt, xin gửi tới Quý Khách hàng lời chúc sức khoẻ và lời chào trân trọng. Chúc
                    Quý khách hàng ngày càng Phát triển và Thành công
                </span>
            </div>
            <div class="col-md-12">
                <span>
                    Công ty Luật TNHH Quốc tế Danh Việt( sau đây viết tắt là Công ty Luật Danh Việt) đã có nhiều năm hoạt động tư vấn pháp luật
                    nói chung và trong lĩnh vực tư vấn đầu tư, doanh nghiệp nói riêng. Với đội ngũ luật sư, chuyên gia cộng
                    sự, chuyên viên có chuyên môn giỏi và giàu kinh nghiệm, công ty Luật Danh Việt luôn có đủ năng lực đáp
                    ứng mọi yêu cầu của Quý khách hàng
                </span>
            </div>
            <div class="col-md-12 text-center text-red">
                <h4>
                    <b>“UY TÍN - HỢP TÁC - THÀNH CÔNG”</b>
                </h4>
            </div>
            <div class="col-md-12">
                <span class="padding-root">
                    Công ty Luật Danh Việt là công ty luật được thành lập theo quy định của pháp luật, có trụ sở chính tại: Số 38 Ngõ 190 phổ
                    Hạ Đình, phường Thanh Xuân Trung, quận Thanh Xuân, thành phố Hà Nội
                </span>
            </div>
            <div class="col-md-12">
                <span class="padding-root">
                    Được biết, Quý Khách hàng đang có nhu cầu lựa chọn tổ chức hành nghề luật sư có năng lực để đại diện và tư vấn pháp luật,
                    Công ty Luật Danh Việt gửi kèm theo Thư ngỏ này bản Hồ sơ giới thiệu tóm tắt về năng lực tổ chức, hoạt
                    động của Công ty Luật Danh Việt để Quý Khách hàng có cơ sở xem xét, lựa chọn hợp tác lâu dài, mang lại
                    hiệu quả thiết thực nhất
                </span>
            </div>
            <div class="col-md-12">
                <span class="padding-root">
                    Với phương châm hoạt động “ Uy tín - Hợp tác - Thành công ”, Công ty Luật Danh Việt cam kết sẽ cung cấp cho Quý Khách hàng
                    dịch vụ tư vấn pháp lý chất lượng cao với mức phí và thù lao hợp lý nhằm bảo vệ quyền lợi tốt nhất cho
                    Quý Khách hàng, trên tinh thần thượng tôn pháp luật
                </span>
            </div>
            <div class="col-md-12">
                <span class="padding-root">
                    Công ty Luật Danh Việt hy vọng với chất lượng dịch vụ cung hồ sơ năng lực này sẽ là lựa chọn của Quý Khách hàng và mong muốn
                    tiếp tục được đồng hành thúc đẩy hoạt động, phát triển của
                    <br>
                    <span class="padding-root">Quý Khách hàng trong suốt thời gian tới.</span>
                    <br>
                    <span class="padding-root">
                        Trân trọng !
                    </span>
                </span>
            </div>
            <!-- /page1/ -->
            <!-- /page2/ -->
            <div class="col-md-12 text-center space">
                <img src="../assets/images/Anh2.PNG" alt="" width="70%" height="70%">
            </div>
            <div class="col-md-12 text-red space">
                <h4>
                    <b>GIỚI THIỆU VỀ CÔNG TY</b>
                </h4>
            </div>
            <div class="col-md-12">
                <span class="padding-root">
                    Công ty Luật Danh Việt được thành lập theo số ĐKHĐ: 01010943/TP/ĐKHĐ cấp ngày 16/09/2013 của Sở Tư Pháp thành phố Hà Nội,
                    Công ty Luật Danh Việt là một công ty luật chuyên nghiệp, chuyên cung cấp các dịch vụ tư vấn pháp lý
                    và tranh tụng.
                </span>
            </div>
            <div class="col-md-12 padding-root">
                <span class="padding-root">
                    Công ty Luật Danh Việt được sáng lập và điều hành bởi các luật sư có trình độ học vấn, dày dặn kinh nghiệm thực tế và chuyên
                    sâu trong các lĩnh vực hoạt động, như: Hình sự, Dân sư , Hành chính, Lao động, Bảo hiểm, Đất đai, Đầu
                    tư, Doanh nghiệp; Sở hữu Trí tuệ, Hôn nhân và gia đình... Tư vấn và thực hiện thủ tục đề nghị cơ quan
                    quản lý nhà nước cấp các loại giấy phép hoạt động, chứng nhận, công bố năng lực...
                </span>
            </div>
            <div class="col-md-12">
                <span class="padding-root">
                    Phương châm hoạt động của Công ty Luật Danh Việt luôn luôn Vì:
                    <i> Quyền, lợi ích hợp pháp của khách hàng, Nên: sẵn sàng tận tâm vì khách hàng, tận tụy với công việc, hoàn
                        thành dịch vụ đúng tiến độ, đáp ứng chính xác yêu cầu của khách hàng</i>. Để có thể thực hiện tốt
                    phương châm của mình, Công ty Luật Danh Việt luôn nhận thức đầy đủ về trách nhiệm, đạo đức nghề nghiệp
                    của mình và không ngừng nâng cao chất lượng dịch vụ trong các hoạt động tư vấn pháp lý , cũng như bảo
                    vệ các quyền và lợi ích hợp pháp của cá nhân, tổ chức, doanh nghiệp theo quy định của pháp luật với cam
                    kết
                </span>
            </div>
            <div class="col-md-12">
                <span>
                    <i>
                        <span class="padding-root">(i) Đặt quyền và lợi ích của quý khách hàng lên hàng đầu.</span>
                        <br>
                        <span class="padding-root">(ii) Cung cấp dịch vụ chuyên nghiệp với tinh thần trách nhiệm cao.</span>
                        <br>
                        <span class="padding-root">(iii) Cung cấp các giải pháp pháp lý linh hoạt nhất.</span>
                        <br>
                    </i>
                </span>
            </div>
            <div class="col-md-12">
                <span class="padding-root">
                    Một trong những thế mạnh của Công ty Luật Danh Việt là luôn duy trì mối quan hệ tốt đẹp với các cơ quan quản lý nhà nước.
                    Chúng tôi hiểu biết và nhận thức sâu về thể chế, về hệ thống pháp luật cũng như văn hoá, cơ chế hoạt
                    động của hệ thống để có thể luôn linh hoạt, nhạy bén trong hoạt động nhằm đáp ứng mọi yêu cầu, mong muốn
                    của đối tác, khách hàng trên cơ sở quy định của pháp luật.
                </span>
            </div>
            <!-- /page2/ -->
            <!-- page3 -->
            <div class="col-md-12">
                <div class="col-md-3">
                    <span class="text-red">
                        <h4>
                            <b>TRIẾT LÝ KINH DOANH</b>
                        </h4>
                    </span>
                </div>
                <div class="col-md-9">
                    <div>
                        <b>Tầm nhìn và định hướng phát triển.</b>
                        <br> Tiếp tục là tổ chức luật uy tín, chuyên nghiệp tại Việt Nam trong các lĩnh vực dịch vụ và sớm trở
                        thành hãng luật uy tín, chuyên nghiệp trên thế giới.
                    </div>
                    <b>Sứ mệnh</b>
                    <br> Tối đa hóa lợi ích của khách hàng thông qua việc cung cấp các giải pháp tư vấn hiệu quả, phù hợp với
                    điều kiện thực tế và chuẩn mực luật pháp.
                </div>
            </div>

            <!-- page3 -->
            <!-- page4 -->
            <div class="col-md-12 space">
                <div class="col-md-3">
                    <img src="../assets/images/Anh3.PNG" alt="" width="100%" height="100%">
                </div>
                <div class="col-md-3">
                    <img src="../assets/images/Anh4.PNG" alt="" width="100%" height="100%">
                </div>
                <div class="col-md-3">
                    <img src="../assets/images/Anh5.PNG" alt="" width="100%" height="100%">
                </div>
                <div class="col-md-3">
                    <img src="../assets/images/Anh6.PNG" alt="" width="100%" height="100%">
                </div>
            </div>

            <!-- page4 -->

            <div class="col-md-12 space">
                <span class="padding-root">
                    Để giải quyết các vấn đề của Doanh nghiệp một cách nhanh chóng và hiệu quả. Luật Danh Việt đã xây dựng 
                    cơ cấu nhân sự vững chắc. Với đội ngũ luật sư, chuyên gia pháp lý cao cấp có trình độ học vấn, dày dặn 
                    kinh nghiệm thực tế và chuyên sâu trong các lĩnh vực hoạt động, như: Hình sự; Dân sự; Hành chính; Lao động; 
                    Bảo hiểm; Đất đai; Đầu tư; Doanh nghiệp; Sở hữu Trí tuệ; Hôn nhân và gia đình... Tư vấn và thực hiện thủ tục 
                    đề nghị cơ quan quản lý nhà nước cấp các loại giấy phép hoạt động, chứng nhận, công bố năng lực,...
                </span>
            </div>
            <div class="col-md-12 text-red space">
                <h4>
                    <b>SƠ ĐỒ TỔ CHỨC</b>
                </h4>
            </div>

            <div class="col-md-12 space">
                <img src="../assets/images/organizational_chart.PNG" alt="" width="100%" height="100%">
            </div>

            <div class="col-md-12 space">
                <img src="../assets/images/Anh8.PNG" alt="" width="100%" height="100%">
            </div>
        </div>

        <!--Lĩnh vực hoạt động-->

        <div class="col-md-12 text-red space">
            <h4>
                <b>LĨNH VỰC HOẠT ĐỘNG</b>
            </h4>
        </div>
        <div class="col-md-12">
            <p>
                <b>3.1 Tư vấn pháp luật</b>
            </p>
            <p>
                Tư vấn pháp luật cho các tổ chức cá nhân trong và ngoài nước trong các lĩnh vực hình sự, dân sự, hành chính,
                doanh nghiệp, thương mại, lao động, đất đai, tài chính - ngân hàng, hôn nhân - gia đình, thừa kế . . .
            </p>
            <p>
                <b>3.2 Tham gia tố tụng</b>
            </p>
            <p>
                Khi Quý khách hàng có các công việc cần phải giải quyết ở Toà án hoặc các cơ quan Nhà nước 
                có thẩm quyền. Công ty Luật Danh Việt có thể trợ giúp Quý khách hàng qua việc: 
            </p>
            <p>
                - Tham gia tố tụng với tư cách là người bào chữa cho người bị tạm giữ, bị can, hoặc bị cáo 
                hoặc là người bảo vệ quyền lợi của người bị hại, nguyên đơn dân sự, bị đơn dân sự, người có 
                quyền lợi và nghĩa vụ liên quan trong vụ án hình sự. 
            </p>
            <p>
                - Tham gia tố tụng với tư cách là người đại diện hoặc là người bảo vệ quyền lợi khi thu nhập 
                của nguyên đơn, bị đơn, người có quyền lợi, nghĩa vụ liên quan trong các vụ án về tranh chấp 
                dân sự, hôn nhân và gia đình, kinh doanh, thương mại, lao động, hành chính... và các vụ việc khác 
                theo quy định của pháp luật. 
            </p>
            <p>
                <b>3.3 Đại diện ngoài tố tụng cho khách hàng để thực hiện các công việc có liên quan đến pháp luật</b>
            </p>
            <p>
                Công ty Luật Danh Việt cũng có thể cử Luật sư hoặc Chuyên viên pháp lý đại tiện theo ủy quyền của Quý 
                khách hàng trong các trường hợp khác ngoài tố tụng như tham gia trong các trường hợp giải quyết khiếu 
                nại tại các cơ quan, đơn vị và các trường hợp khác theo quy định của pháp luật.
            </p>
            <p>
                <b>3.4 Thực hiện các dịch vụ pháp lý khác</b>
            </p>
            <p>
                Quý khách hàng có yêu cầu, Công ty Luật Danh Việt cũng có thể thực hiện các dịch vụ pháp lý khác cho 
                Quý khách hàng như: Hỗ trợ khách hàng thực hiện các công việc liên quan đến thủ tục hành chính; tư vấn 
                về phát luật trong trường hợp giải quyết khiêu nại; dịch thuật, xác nhận giấy tờ, thành lập danh nghiệp,
                đăng ký thay đổi nội dung hoạt động của doanh nghiệp, giải thể doanh nghiệp, lập di chúc, khai nhận di 
                sản thừa kế, hợp thức hóa chủ quyền nhà, mua bán nhà , chuyển nhượng quyền sử dụng đất,...các giao dịch 
                và giúp đỡ khách hàng thực hiện công việc khác theo quy định của pháp luật.
            </p>
        </div>

        <!--Thế mạnh và cam kết-->

        <div class="col-md-12 text-red space">
            <h4>
                <b>THẾ MẠNH VÀ CAM KẾT</b>
            </h4>
        </div>

        <div class="col-md-12 space">
            <img src="../assets/images/strength_img.PNG" alt="" width="100%" height="100%">
        </div>

        <div class="col-md-12 space">
            <img src="../assets/images/commitment_img.PNG" alt="" width="100%" height="100%">
        </div>

        <!--Đối tác tiêu biểu-->

        <div class="col-md-12 text-red space">
            <h4>
                <b>ĐỐI TÁC TIÊU BIỂU</b>
            </h4>
        </div> 
        
        <div class="col-md-12">
            <span>
                Luật Danh Việt luôn trân trọng những đối tác, đồng nghiệp đã đồng hành với 
                chúng tôi trong suốt thời gian quá. Chúng tôi hiểu rõ tầm quan trọng của đối 
                tác trong công cuộc thực hiện sứ mạng của mình
            </span>
        </div>

        <div class="col-md-12 space">
            <img src="../assets/images/partners_img.PNG" alt="" width="100%" height="100%">
        </div>

        <div class="col-md-12 space">
            <img src="../assets/images/Anh9.PNG" alt="" width="100%" height="100%">
        </div>

        <div class="col-md-12 space">
            <img src="../assets/images/Anh10.PNG" alt="" width="100%" height="100%">
        </div>

        <!--Khách hàng tiêu biểu-->

        <div class="col-md-12 text-red space">
            <h4>
                <b>KHÁCH HÀNG TIÊU BIỂU</b>
            </h4>
        </div> 

        <div class="col-md-12">
            <span>
                Để có được vị trí như ngày hôm nay, chúng tôi xin gửi lời tri ân sâu sắc đến 
                những khách hàng đã luôn tin tưởng và ủng hộ Luật Danh Việt. Chúng tôi đã may 
                mắn có cơ hội hỗ trợ, tư vấn cho rất nhiều Doanh nghiệp lớn nhỏ khác nhau và 
                nhận được sự tin tưởng, đánh giá cao, đây là nguồn động lực to lớn cho chúng 
                tôi trong quá trình làm việc.
            </span>
        </div>

        <div class="col-md-12 space">
            <img src="../assets/images/customers_img.PNG" alt="" width="100%" height="100%">
        </div>

    </div>
</div>