<div class="row">
    <div class="container">
        <div class="first-introduce">
           <!-- /page1/ -->
              <div class="col-md-12 text-center space">
                  <img src="../assets/images/Anh1.PNG" alt="" width="70%" height="70%">
              </div>
              <div class="col-md-12 space">
                  <span class="padding-root">
                    Lời đầu tiên, Công ty Luật TNHH Quốc tế Danh Việt, xin gửi tới Quý Khách hàng lời chúc sức khoẻ và lời chào trân trọng. Chúc Quý khách hàng ngày càng Phát triển và Thành công 
                  </span>
              </div>
              <div class="col-md-12">
                <span>
                  Công ty Luật TNHH Quốc tế Danh Việt( sau đây viết tắt là Công ty Luật Danh Việt) đã có nhiều năm hoạt động tư vấn pháp luật nói chung và trong lĩnh vực tư vấn đầu tư, doanh nghiệp nói riêng.
                   Với đội ngũ luật sư, chuyên gia cộng sự, chuyên viên có chuyên môn giỏi và giàu kinh nghiệm, công ty Luật Danh Việt luôn có đủ năng lực đáp ứng mọi yêu cầu của Quý khách hàng 
                </span>
            </div>
            <div class="col-md-12 text-center text-red">
              <h4><b>“UY TÍN - HỢP TÁC - THÀNH CÔNG”</b></h4>
            </div>
            <div class="col-md-12">
              <span class="padding-root">
              Công ty Luật Danh Việt là công ty luật được thành lập theo quy định của pháp luật, có trụ sở chính tại: Số 38 Ngõ 190 phổ Hạ Đình, phường Thanh Xuân Trung, quận Thanh Xuân, thành phố Hà Nội 
              </span>           
             </div>
            <div class="col-md-12">
              <span class="padding-root">
                Được biết, Quý Khách hàng đang có nhu cầu lựa chọn tổ chức hành nghề luật sư có năng lực để đại diện và tư vấn pháp luật, Công ty Luật Danh Việt gửi kèm theo Thư ngỏ này bản Hồ sơ giới thiệu tóm tắt về năng lực tổ chức, hoạt động của Công ty Luật Danh Việt để Quý Khách hàng có cơ sở xem xét, lựa chọn hợp tác lâu dài, mang lại hiệu quả thiết thực nhất 
              </span>
            </div>
            <div class="col-md-12">
              <span class="padding-root">
                  Với phương châm hoạt động “ Uy tín - Hợp tác - Thành công ”, Công ty Luật Danh Việt cam kết sẽ cung cấp cho Quý Khách hàng dịch vụ tư vấn pháp lý chất lượng cao với mức phí và thù lao hợp lý nhằm bảo vệ quyền lợi tốt nhất cho Quý Khách hàng, trên tinh thần thượng tôn pháp luật 
              </span>
            </div>
            <div class="col-md-12">
                <span class="padding-root">
                    Công ty Luật Danh Việt hy vọng với chất lượng dịch vụ cung hồ sơ năng lực này sẽ là lựa chọn của Quý Khách hàng và mong muốn tiếp tục được đồng hành thúc đẩy hoạt động, phát triển của
                    <br> <span class="padding-root">Quý Khách hàng trong suốt thời gian tới.</span>  <br>
                     <span  class="padding-root">
                        Trân trọng !
                    </span> 
                </span>
              </div>
            <!-- /page1/ -->
            <!-- /page2/ -->
            <div class="col-md-12 text-center space">
                <img src="../assets/images/Anh2.PNG" alt="" width="70%" height="70%">
            </div>
            <div class="col-md-12 text-red space">
                <h4>
                   <b>GIỚI THIỆU VỀ CÔNG TY</b>
                </h4>
              </div>
              <div class="col-md-12">
                  <span class="padding-root">
                      Công ty Luật Danh Việt được thành lập theo số ĐKHĐ: 01010943/TP/ĐKHĐ cấp ngày 16/09/2013 của Sở Tư Pháp thành phố Hà Nội, Công ty Luật Danh Việt là một công ty luật chuyên nghiệp, chuyên cung cấp các dịch vụ tư vấn pháp lý và tranh tụng. 
                  </span>
              </div>
              <div class="col-md-12 padding-root">
                  <span class="padding-root">
                      Công ty Luật Danh Việt được sáng lập và điều hành bởi các luật sư có trình độ học vấn, dày dặn kinh nghiệm thực tế và chuyên sâu trong các lĩnh vực hoạt động, như: Hình sự, Dân sư , Hành chính, Lao động, Bảo hiểm, Đất đai, Đầu tư, Doanh nghiệp; Sở hữu Trí tuệ, Hôn nhân và gia đình... Tư vấn và thực hiện thủ tục đề nghị cơ quan quản lý nhà nước cấp các loại giấy phép hoạt động, chứng nhận, công bố năng lực... 
                  </span>
              </div>
              <div class="col-md-12">
                  <span class="padding-root">
                      Phương châm hoạt động của Công ty Luật Danh Việt luôn luôn Vì: <i> Quyền, lợi ích hợp pháp của khách hàng, Nên: sẵn sàng tận tâm vì khách hàng, tận tụy với công việc, hoàn thành dịch vụ đúng tiến độ, đáp ứng chính xác yêu cầu của khách hàng</i>. Để có thể thực hiện tốt phương châm của mình, Công ty Luật Danh Việt luôn nhận thức đầy đủ về trách nhiệm, đạo đức nghề nghiệp của mình và không ngừng nâng cao chất lượng dịch vụ trong các hoạt động tư vấn pháp lý , cũng như bảo vệ các quyền và lợi ích hợp pháp của cá nhân, tổ chức, doanh nghiệp theo quy định của pháp luật với cam kết 
                  </span>
              </div>
              <div class="col-md-12">
                  <span >
                      <i>
                          <span class="padding-root">(i) Đặt quyền và lợi ích của quý khách hàng lên hàng đầu.</span> <br>
                          <span class="padding-root">(ii) Cung cấp dịch vụ chuyên nghiệp với tinh thần trách nhiệm cao.</span><br>
                          <span class="padding-root">(iii) Cung cấp các giải pháp pháp lý linh hoạt nhất.</span> <br>
                      </i>
                  </span>
              </div>
              <div class="col-md-12">
                  <span class="padding-root">
                      Một trong những thế mạnh của Công ty Luật Danh Việt là luôn duy trì mối quan hệ tốt đẹp với các cơ quan quản lý nhà nước. Chúng tôi hiểu biết và nhận thức sâu về thể chế, về hệ thống pháp luật cũng như văn hoá, cơ chế hoạt động của hệ thống để có thể luôn linh hoạt, nhạy bén trong hoạt động nhằm đáp ứng mọi yêu cầu, mong muốn của đối tác, khách hàng trên cơ sở quy định của pháp luật.
                  </span>
              </div>
            <!-- /page2/ -->
              <!-- page3 -->
              <div class="col-md-12">
                <div class="col-md-3">
                  <span class="text-red">
                      <h4><b>TRIẾT LÝ KINH DOANH</b></h4>
                  </span>
                </div>
                <div class="col-md-9">
                  <div>
                    <b>Tầm nhìn và định hướng phát triển.</b> <br>
                    Tiếp tục là tổ chức luật uy tín, chuyên nghiệp tại Việt Nam trong các lĩnh vực dịch vụ và sớm trở thành hãng luật uy tín, chuyên nghiệp trên thế giới.
                  </div>
                    <b>Sứ mệnh</b> <br>
                    Tối đa hóa lợi ích của khách hàng thông qua việc cung cấp các giải pháp tư vấn hiệu quả, phù hợp với điều kiện thực tế và chuẩn mực luật pháp.
                </div>
              </div>

             <!-- page3 -->
              <!-- page4 -->
                <div class="col-md-12 space">
                    <div class="col-md-3">
                        <img src="../assets/images/Anh3.PNG" alt="" width="100%" height="100%">
                    </div>
                    <div class="col-md-3">
                        <img src="../assets/images/Anh4.PNG" alt="" width="100%" height="100%">
                    </div>
                   <div class="col-md-3">
                      <img src="../assets/images/Anh5.PNG" alt="" width="100%" height="100%">
                   </div>
                   <div class="col-md-3">
                      <img src="../assets/images/Anh6.PNG" alt="" width="100%" height="100%">
                   </div>
                </div>

              <!-- page4 -->

              <div class="col-md-12 space">
                  <span class="padding-root">
                      Để giải quyết các vấn đề của Doanh nghiệp một cách nhanh chóng và hiệu quả. Luật Danh Việt đã xây dựng cơ cấu nhân sự vững chắc. Với đội ngũ luật sư, chuyên gia pháp lý cao cấp có trình độ học vấn, dày dặn kinh nghiệm thực tế và chuyên sâu trong các lĩnh vực hoạt động, như: Hình sự; Dân sự; Hành chính; Lao động; Bảo hiểm; Đất đai; Đầu tư; Doanh nghiệp; Sở hữu Trí tuệ; Hôn nhân và gia đình... Tư vấn và thực hiện thủ tục đề nghị cơ quan quản lý nhà nước cấp các loại giấy phép hoạt động, chứng nhận, công bố năng lực,...
                  </span>
              </div>
              <div class="col-md-12 text-red space">
                  <h4>
                     <b>SƠ ĐỒ TỔ CHỨC</b>
                  </h4>
              </div>
              <div class="col-md-12 space">
                  <img src="../assets/images/Anh7.PNG" alt="" width="100%" height="100%">
              </div>

              <div class="col-md-12 space">
                  <img src="../assets/images/Anh8.PNG" alt="" width="100%" height="100%">
              </div>
        </div>

    </div>

</div>