

<div class="row border-form">
        <div class="col-md-6 col-md-offset-3">
                <h2>Register</h2>
                <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                            <div *ngIf="f.email.errors.required" class="errMessage">Email is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                            <div *ngIf="f.username.errors.required" class="errMessage">Username is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                            <div *ngIf="f.password.errors.required" class="errMessage">Password is required</div>
                            <div *ngIf="f.password.errors.minlength" class="errMessage">Password must be at least 6 characters</div>
                        </div>
                        <div *ngIf="comparePass == true" class="errMessage">Re Password dont like Password</div>
                    </div>
                    <div class="form-group">
                        <label for="repassword">Re Password</label>
                        <input type="password" formControlName="repassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.repassword.errors }" />
                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                            <div *ngIf="f.repassword.errors.required" class="errMessage">Password is required</div>
                            <div *ngIf="f.repassword.errors.minlength" class="errMessage">Password must be at least 6 characters</div>
                        </div>
                        <div *ngIf="comparePass == true" class="errMessage">Re Password dont like Password</div>
                    </div>
                    <div class="form-group">
                        <label for="roleId">Role</label>
                        <select class="form-control" formControlName="roleId" *ngFor = "let item of roleList">
                            <option  [value]="item.id" class="form-control">{{item.id}}</option>
                          </select>
                          <div *ngIf="submitted && f.roleId.errors" class="invalid-feedback">
                            <div *ngIf="f.roleId.errors.required" class="errMessage">Role is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button [disabled]="loading" class="btn btn-primary">
                            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                            Register
                        </button>
                        <a routerLink="/home" class="btn btn-link">Back to home</a>
                    </div>

                    
            </form>
     </div>
</div>