<div class="banner">
    <div class="container">
        <div class="banner-top">
            <section class="slider">
                <div class="flexslider">
                    <ul class="slides">
                        <li>	
                            <div class="banner-text">
                                <!-- <h2>“WE OFFER OUR CLIENTS AN EXPERT LEGAL ADVICE!”</h2> -->
                                <p> Vì: Quyền, lợi ích hợp pháp của khách hàng, <br>
                                    Nên: sẵn sàng tận tâm vì khách hàng, tận tụy với công việc, hoàn thành dịch vụ đúng tiến độ, đáp ứng chính xác yêu cầu của khách hàng.</p>
                                <br>
                                <a class="hvr-shutter-in-horizontal" routerLink="/typo">Xem thêm</a>
                            </div>
                        </li>
                        <li>	
                            <div class="banner-text">
                                <p>Đặt quyền và lợi ích của quý khách hàng lên hàng đầu.</p>
                                <p>Cung cấp dịch vụ chuyên nghiệp với tinh thần trách nhiệm cao.</p>
                                <p>Cung cấp các giải pháp pháp lý linh hoạt nhất.</p>
                                <!-- <h2>“CLIENTS AN EXPERT WE OFFER OUR  LEGAL ADVICE!”</h2> -->
                                <!-- <p>Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English</p> -->
                                <a class="hvr-shutter-in-horizontal" routerLink="/typo">Xem thêm</a>
                            </div>
                        </li> 
                        <li>	
                            <div class="banner-text">
                                <p>Tối đa hóa lợi ích của khách hàng thông qua việc cung cấp các giải pháp tư vấn hiệu quả, phù hợp với điều kiện thực tế và chuẩn mực luật pháp.</p>
                                <!-- <h2>“AN EXPERT LEGAL WE OFFER OUR CLIENTS  ADVICE!”</h2> -->
                                <!-- <p>Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English</p> -->
                                <a class="hvr-shutter-in-horizontal" routerLink="/typo">Xem thêm</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>

         <script defer="" src="../assets/js/jquery.flexslider.js"></script>
        </div>
    </div>
</div>
<div class="welcome">
    <div class="container">
        <div class="col-md-8 welcome-left">
            <h3>Giới thiệu</h3>
            <div class="col-md-6 wel-lft">
                <img src="../assets/images/20.jpg" alt=" " class="img-responsive">
            </div>
            <div class="col-md-6 wel-rgt">
                <span> Công ty <b>Luật Danh Việt</b> là công ty luật được thành lập theo quy định của pháp luật, có trụ sở chính tại: Số 38 Ngõ 190 phổ Hạ Đình, phường Thanh Xuân Trung, quận Thanh Xuân, thành phố Hà Nội...</span>
                <!-- <p>Will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes</p> -->
                <br>
                <a class="hvr-shutter-in-horizontal"  routerLink="/typo">Xem thêm</a>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="col-md-4 welcome-right">
            <h3>Lĩnh vực hoạt động</h3>
                <ul>
                    <li><a href="#"><span></span>Tư vấn pháp luật</a></li>
                    <li><a href="#"><span></span>Tham gia tố tụng</a></li>
                    <li><a href="#"><span></span>Đại diện ngoài tố tụng cho khách hàng</a></li>
                    <li><a href="#"><span></span>Thực hiện các dịch vụ pháp lý khác </a></li>
                    <li><a href="#"><span></span></a></li>
                    <li><a href="#"><span></span> </a></li>
                    
                </ul>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!-- welcome -->
<!-- cases -->
<div class="cases">
    <div class="container">
        <!-- <div class="col-md-4 cases-left">
            <h3>Kinh nghiệm</h3>
            <img src="../assets/images/11.jpg" alt=" " class="img-responsive">
            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
            <a class="hvr-shutter-in-horizontal" href="#">Xem thêm</a>
        </div>
        <div class="col-md-4 cases-left">
            <h3>Tài nguyên</h3>
            <img src="../assets/images/9.jpg" alt=" " class="img-responsive">
            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
            <a class="hvr-shutter-in-horizontal" href="#">Xem thêm</a>
        </div>
        <div class="col-md-4 cases-left">
            <h3>Các trường hợp</h3>
            <img src="../assets/images/6.jpg" alt=" " class="img-responsive">
            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
            <a class="hvr-shutter-in-horizontal" href="#">Xem thêm</a>
        </div>
        <div class="clearfix"></div> -->
        <h3>Các luật sư của chúng tôi</h3>
        <ngx-carousel
        [inputs]="carouselOne"
        (onMove)="onmoveFn($event)" 
        [moveToSlide]="imageId" class="slide-carousel">
            <ngx-item NgxCarouselItem *ngFor = "let slide of slides" class="slide-carousel-item">
                <img src="{{slide.src}}" alt="">
               <span> Nguyễn Văn A </span>
               <br>
                <div class="content-slide">
                        <div>Lĩnh Vực: Tư vấn pháp luật</div>
                        <div>Thông tin luật sư</div>
                        <div>Luật sư Đoàn Văn Nên hiện đang là Luật sư thuộc Đoàn Luật sư thành phố Hà Nội. Với hơn 10 năm kinh nghiệm hành nghề, Luật sư Đoàn Văn Nên đã hỗ trợ... </div>
                        <a class="hvr-shutter-in-horizontal"  routerLink="/typo">Xem thêm</a>
                </div>
          
            </ngx-item>
          <span NgxCarouselPrev class='leftRs'><img src="{{image_icon.LEFT_ARROW}}" width="100%"></span>
          <span NgxCarouselNext class='rightRs'><img src="{{image_icon.RIGHT_ARROW}}" width="100%"></span>
    </ngx-carousel>
    </div>
</div>
<!-- cases-end -->
<!-- news -->
<div class="news">
    <div class="container">
        <h3>Tin tức và sự kiện</h3>
        <!-- <div class="col-md-6 news-left">
            <div class="col-md-6 new-lft">
                <img src="../assets/images/10.jpg" alt=" " class="img-responsive">
            </div>
            <div class="col-md-6 new-rgt">
                <h5> [10-08-2015]</h5>
                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.</p>
            </div>
                <div class="clearfix"></div>
        </div>
        <div class="col-md-6 news-left">
            <div class="col-md-6 new-lft">
                <img src="../assets/images/7.jpg" alt=" " class="img-responsive">
            </div>
            <div class="col-md-6 new-rgt">
                <h5> [10-08-2015]</h5>
                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.</p>
            </div>
                <div class="clearfix"></div> -->
                

                ==
        <div class="col-md-4 cases-left">
            <!-- <h3>Kinh nghiệm</h3> -->
            <img src="../assets/images/11.jpg" alt=" " class="img-responsive">
            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
            <a class="hvr-shutter-in-horizontal" href="#">Xem thêm</a>
        </div>
        <div class="col-md-4 cases-left">
            <!-- <h3>Tài nguyên</h3> -->
            <img src="../assets/images/9.jpg" alt=" " class="img-responsive">
            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
            <a class="hvr-shutter-in-horizontal" href="#">Xem thêm</a>
        </div>
        <div class="col-md-4 cases-left">
            <!-- <h3>Các trường hợp</h3> -->
            <img src="../assets/images/6.jpg" alt=" " class="img-responsive">
            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
            <a class="hvr-shutter-in-horizontal" href="#">Xem thêm</a>
        </div>
        <!-- <div class="clearfix"></div> -->
        <!-- </div> -->
        <div class="clearfix"></div>
    </div>
</div>