<div class="banner">
    <div class="container">
        <div class="banner-top">
            <section class="slider">
                <div class="flexslider">
                    <ul class="slides">
                        <li *ngFor = "let item of newsList">	
                            <div class="banner-text">
                                <!-- <h2>“WE OFFER OUR CLIENTS AN EXPERT LEGAL ADVICE!”</h2> -->
                                <h3> {{item.title}} </h3>
                                   <p> {{item.content}}</p>
                                <br>
                                <a class="hvr-shutter-in-horizontal" routerLink="/typo">Xem thêm</a>
                            </div>
                        </li>
                     
                    </ul>
                </div>
            </section>

         <script defer="" src="../assets/js/jquery.flexslider.js"></script>
        </div>
    </div>
</div>
<div class="welcome">
    <div class="container">
        <div class="col-md-8 welcome-left">
            <h3>Giới thiệu</h3>
            <div class="col-md-6 wel-lft">
                <img src="../assets/images/20.jpg" alt=" " class="img-responsive">
            </div>
            <div class="col-md-6 wel-rgt">
                <span> Công ty <b>Luật Danh Việt</b> là công ty luật được thành lập theo quy định của pháp luật, có trụ sở chính tại: Số 38 Ngõ 190 phổ Hạ Đình, phường Thanh Xuân Trung, quận Thanh Xuân, thành phố Hà Nội...</span>
                <!-- <p>Will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes</p> -->
                <br>
                <a class="hvr-shutter-in-horizontal"  routerLink="/typo">Xem thêm</a>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="col-md-4 welcome-right">
            <h3>Từ khóa nổi bật</h3>
                <div class="tagList">
                    <span *ngFor ="let item of tagList" class="tagName">#{{item.tagName}}</span>
                </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

<div class="welcome">
        <div class="container">
                <h3 class="welcome-right">Lĩnh vực hoạt động</h3>
                <div class= "feild-container" >
                        <br>
                        <div class="feild" *ngFor="let item of fieldList">
                            <span>{{item.fieldName}}</span>
                        </div>
                    </div>
        </div>
  
</div>
<!-- welcome -->
<!-- cases -->
<div class="cases">
    <div class="container">
        <h3>Các luật sư của chúng tôi</h3>
        <ngx-carousel
        [inputs]="carouselOne"
        (onMove)="onmoveFn($event)" 
        [moveToSlide]="imageId" class="slide-carousel">
            <ngx-item NgxCarouselItem *ngFor = "let slide of slides" class="slide-carousel-item">
                <img src="{{slide.src}}" alt="">
               <span> Nguyễn Văn A </span>
               <br>
                <div class="content-slide">
                        <div>Lĩnh Vực: Tư vấn pháp luật</div>
                        <div>Thông tin luật sư</div>
                        <div>Luật sư Đoàn Văn Nên hiện đang là Luật sư thuộc Đoàn Luật sư thành phố Hà Nội. Với hơn 10 năm kinh nghiệm hành nghề, Luật sư Đoàn Văn Nên đã hỗ trợ... </div>
                        <a class="hvr-shutter-in-horizontal"  routerLink="/typo">Xem thêm</a>
                </div>
          
            </ngx-item>
          <span NgxCarouselPrev class='leftRs'><img src="{{image_icon.LEFT_ARROW}}" width="100%"></span>
          <span NgxCarouselNext class='rightRs'><img src="{{image_icon.RIGHT_ARROW}}" width="100%"></span>
    </ngx-carousel>
    </div>
</div>
<!-- cases-end -->
<!-- news -->
