<!-- <div class="banner-1">
		
</div>
  <div class="clients">
    <div class="container">
      <div class="cli-top">
        <div class="col-md-4 clients-left">
          <img src="../assets/images/12.jpg" alt=" " class="img-responsive">
          <h5><a href="#">Roger</a></h5>
          <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
          <a class="hvr-shutter-in-horizontal" href="#">More</a>
        </div>
        <div class="col-md-4 clients-left">
          <img src="../assets/images/13.jpg" alt=" " class="img-responsive">
          <h5><a href="#">Sander</a></h5>
          <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
          <a class="hvr-shutter-in-horizontal" href="#">More</a>
        </div>
        <div class="col-md-4 clients-left">
          <img src="../assets/images/14.jpg" alt=" " class="img-responsive">
          <h5><a href="#">Lawrence</a></h5>
          <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
          <a class="hvr-shutter-in-horizontal" href="#">More</a>
        </div>
        <div class="clearfix"></div>
      </div>
        <div class="col-md-4 clients-left">
          <img src="../assets/images/15.jpg" alt=" " class="img-responsive">
          <h5><a href="#">Reese</a></h5>
          <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
          <a class="hvr-shutter-in-horizontal" href="#">More</a>
        </div>
        <div class="col-md-4 clients-left">
          <img src="../assets/images/16.jpg" alt=" " class="img-responsive">
          <h5><a href="#">Donald</a></h5>
          <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
          <a class="hvr-shutter-in-horizontal" href="#">More</a>
        </div>
        <div class="col-md-4 clients-left">
          <img src="../assets/images/17.jpg" alt=" " class="img-responsive">
          <h5><a href="#">Sandford</a></h5>
          <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
          <a class="hvr-shutter-in-horizontal" href="#">More</a>
        </div>
        <div class="clearfix"></div>
    </div>
  </div> -->
<form [formGroup]="searchForm">
  <div class="page-title crumbs-area-5d8bb8500d7f4" style="background-image: url(../../../assets/images/slide-2-min.jpg)">
    <div class="page-title-container">
      <div class="page-title-wrapper">
        <div class="container">
          <div class="row">
            <div class="col col-xs-12">
              <div class="title">
                <h2>Tin Tức</h2>
              </div>
            </div> <!-- end row -->
          </div> <!-- end container -->
        </div>
      </div>
    </div>
  </div>
  <div class="kc-css-411890 news-page section-site py-5">
    <div class="row">
      <div class="container">
        <div class="kc-wrap-columns">
          <div class="kc-elm kc-css-763445 kc_col-sm-12 kc_column kc_col-sm-12">
            <div class="kc-col-container">
              <div class="section-title-area aequity-title  section-title-area-5d6f89e710a4b">
                <div class="row">
                  <div class="col col-xs-12 ">
                    <div class=" section-title-s2 text-center">
                      <span>Tin tức gần đây</span>
                      <h2>Tin mới nhất</h2>
                    </div>
                  </div>
                  <div class="size-page text-right m-3 pb-3">
                    <label class="pr-2"> Số bài viết mỗi trang: </label>
                    <select formControlName="sizePage">
                      <option value="10">10</option>
                      <option value="20">20</option>
                      <option value="30">30</option>
                      <option value="40">40</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="blog-section  blog-section-5d6f89e710a78">
                <div class="row">
                  <div class="col col-xs-12">
                    <div class="blog-grids">
                      <div class="grid" *ngFor="let item of listPost">
                        <div class="entry-media">
                          <img src="{{item.image}}" alt="image">
                          <div class="date">
                            <p>{{item.day}}<span>Tháng {{item.months}}</span></p>
                          </div>
                        </div>
                        <div class="details">
                          <h3><a [routerLink]="['/news', item.id]">{{item.title}}</a></h3>
                          <p>{{item.shortContent}}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- page number -->
              <div class="page-number pb-5 d-flex justify-content-center align-items-center">
                <button type="button" class="px-2" (click)="changePageNumber('preEnd')" [disabled]="isPreDisable">
                  <i class="fa fa-angle-double-left px-2" aria-hidden="true"></i>
                </button>
                <button type="button" class="px-2" (click)="changePageNumber('pre')" [disabled]="isPreDisable">
                  <i class="fa fa-angle-left px-2" aria-hidden="true"></i>
                </button>
                <select formControlName="pageNumber" class="mx-3">
                  <option *ngFor="let val of totalPages" value={{val.value}}>{{val.value}}</option>
                </select>
                <button type="button" class="px-2" (click)="changePageNumber('next')" [disabled]="isNextDisable">
                  <i class="fa fa-angle-right" aria-hidden="true"></i>
                </button>
                <button type="button" class="px-2" (click)="changePageNumber('nextEnd')" [disabled]="isNextDisable">
                  <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                </button>
              </div>
              <!--End blog section-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
<router-outlet></router-outlet>