<div class="footer">
  <div class="container">
        <div class="col-md-4 contact-left">
                <h4>LIÊN HỆ</h4>
                <div class="cont-tp">
                        <span class="glyphicon glyphicon-envelope" aria-hidden="true">
                    </span></div>
                <p>ĐOÀN LUẬT SƯ THÀNH PHỐ HÀ NỘI</p>
                <p>CÔNG TY LUẬT TNHH QUỐC TẾ DANH VIỆT</p>
                <img src="../../../assets/images/facebook-icon.png" style="width: 40px; height: 40px;"/>
                <img src="../../../assets/images/zalo-icon.png" style="width: 40px; height: 40px;"/>
        </div>
          <div class="col-md-4 contact-left">
          <h4>ĐỊA CHỈ</h4>
              <div class="cont-tp">
                  <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
              </div>

                <address>
                    Trụ sở: Số 38 - Ngõ 190 - P.Hạ Đình, Thanh Xuân Trung, Hà Nội<br>
                    VPGD: Số 262 Thượng Đình, Khương Mai, Thanh Xuân, Hà Nội<br>
                </address>
          </div>
          <div class="col-md-4 contact-left">
          <h4>Phone/Fax</h4>
              <div class="cont-tp">
                  <span class="glyphicon glyphicon-phone" aria-hidden="true">
              </span></div>

              <p>Phone : 0977.818.686 </p>
              <p>Phone : 0987.925.168 </p>
              <p>Website : luatdanhviet.com </p>
              <p>Email : danhvietlaw@gmail.com </p>

          </div>
  </div>
</div>
