<div class="footer">
  <div class="container">
          <div class="col-md-4 contact-left">
          <h4>Address</h4>
              <div class="cont-tp">
                  <span class="glyphicon glyphicon-map-marker" aria-hidden="true">
              </span></div>
              
              <address>
                    795 Folsom Ave, Suite 600<br>
                    San Francisco, CA 94107<br>
                    <abbr title="Phone">P :</abbr> (123) 456-7890
                  </address>
          </div>
          <div class="col-md-4 contact-left">
          <h4>Phone/Fax</h4>
              <div class="cont-tp">
                  <span class="glyphicon glyphicon-phone" aria-hidden="true">
              </span></div>
              
              <p>Phone : +1234567890 </p>
              <p>Phone : +1234567890 </p>
              <p>Fax : +1234567890 </p>
          </div>
          <div class="col-md-4 contact-left">
          <h4>Newsletter</h4>
              <div class="cont-tp">
                  <span class="glyphicon glyphicon-envelope" aria-hidden="true">
              </span></div>
              <!-- <form> -->
                  <input type="text" value="Enter Your email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter Your email';}">
                  <input type="submit" value="Subscribe">
              <!-- </form> -->
          <div class="clearfix"></div>
      
          <div class="footer-text">
              <p>© 2019 Law. All Rights Reserved | Design by  Quang Tuyến </p>
          </div>
     </div> 
  </div> 
</div>