<!-- <div class="footer">
    <div class="container">
        <div class="col-md-4 contact-left">
            <h4>LIÊN HỆ</h4>
            <div class="cont-tp">
                <span class="glyphicon glyphicon-envelope" aria-hidden="true">
                </span></div>
            <p>ĐOÀN LUẬT SƯ THÀNH PHỐ HÀ NỘI</p>
            <p>CÔNG TY LUẬT TNHH QUỐC TẾ DANH VIỆT</p>
            <img src="../../../assets/images/facebook-icon.png" style="width: 40px; height: 40px;" />
            <img src="../../../assets/images/zalo-icon.png" style="width: 40px; height: 40px;" />
        </div>
        <div class="col-md-4 contact-left">
            <h4>ĐỊA CHỈ</h4>
            <div class="cont-tp">
                <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
            </div>

            <address>
                Trụ sở: Số 38 - Ngõ 190 - P.Hạ Đình, Thanh Xuân Trung, Hà Nội<br>
                VPGD: Số 262 Thượng Đình, Khương Mai, Thanh Xuân, Hà Nội<br>
            </address>
        </div>
        <div class="col-md-4 contact-left">
            <h4>Phone/Fax</h4>
            <div class="cont-tp">
                <span class="glyphicon glyphicon-phone" aria-hidden="true">
                </span></div>

            <p>Phone : 0977.818.686 </p>
            <p>Phone : 0987.925.168 </p>
            <p>Website : luatdanhviet.com </p>
            <p>Email : danhvietlaw@gmail.com </p>

        </div>
    </div>
</div> -->

<footer class="site-footer" style="background-image: url( );">
    <!-- Footer Widgets -->
    <div class="upper-footer">
        <div class="footer-widget-area">
            <div class="container">
                <div class="row">
                    <div class="col col-md-3 col-sm-6 col-lg-4">
                        <div class=" widget text-widget">
                            <div class="widget about-widget">
                                <div class="logo widget-title"><img src="../../../assets/images/logo.jpg"
                                        alt=""></div>
                                <!-- <p>
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">Anh ta nằm trên tấm lưng giống như áo
                                            giáp của mình, và nếu anh ta ngẩng đầu lên một chút, anh ta có thể nhìn thấy
                                            cái bụng màu nâu của mình, hơi hình vòm và bị chia cắt bởi các vòm thành
                                            những phần cứng.</font>
                                    </font>
                                </p> -->
                            </div>
                            <div class="clear"></div>
                        </div> <!-- end widget -->
                    </div>
                    <div class="col col-md-3 col-sm-6 col-lg-2">
                        <div class=" widget link-widget">
                            <div class="widget-title">
                                <h3>
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">Địa chỉ</font>
                                    </font>
                                </h3>
                            </div>
                            <div class=" nav-notenabled-child">
                                <div class="menu-navigation-container">
                                    <ul id="menu-navigation-1" class="menu -sidenav">
                                        <li
                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-182">
                                            <a href="/tf/wp1/aequity/about/">
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">Trụ sở chính: Số 38 Ngõ 190, Hạ Đình, Thanh Xuân, Hà Nội</font>
                                                </font>
                                            </a></li>
                                        <li
                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-183">
                                            <a href="/tf/wp1/aequity/contact/">
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">Văn phòng giao dịch: Số 14 Trần Điền, phương Khương Mai, Thanh Xuân, Ha Nội</font>
                                                </font>
                                            </a></li>
                                       <!-- <li
                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-185">
                                            <a href="/tf/wp1/aequity/attorneys/">
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">Chi nhánh Thái Bình: Số 15, Tổ 10, phố Phạm Huy Quang, phường Trần Lãm, Thái Bình</font>
                                                </font>
                                            </a></li> -->
                                        <!--  <li
                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-186">
                                            <a href="/tf/wp1/aequity/faq/">
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">Câu hỏi thường gặp</font>
                                                </font>
                                            </a></li>
                                        <li
                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-181">
                                            <a href="/tf/wp1/aequity/testimonials/">
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">Lời chứng thực</font>
                                                </font>
                                            </a></li> -->
                                    </ul>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div> <!-- end widget -->
                    </div>
                    <div class="col col-lg-3 col-md-3 col-sm-6">
                        <div class=" widget link-widget">
                            <div class="widget-title">
                                <h3>
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">Liên hệ</font>
                                    </font>
                                </h3>
                            </div>
                            <div class=" nav-notenabled-child">
                                <div class="menu-services-container">
                                    <ul id="menu-services-1" class="menu -sidenav">
                                        <li
                                            class="menu-item menu-item-type-post_type menu-item-object-practice menu-item-191">
                                            <a href="/tf/wp1/aequity/practice/family-law/">
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">Điện thoại: 0977.818.686 - 0987.925.168</font>
                                                </font>
                                            </a></li>
                                        <li
                                            class="menu-item menu-item-type-post_type menu-item-object-practice menu-item-192">
                                            <a href="/tf/wp1/aequity/practice/criminal-law/">
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">Email: danhvietlaw@gmail.com</font>
                                                </font>
                                            </a></li>
                                        <li
                                            class="menu-item menu-item-type-post_type menu-item-object-practice menu-item-187">
                                            <a href="/tf/wp1/aequity/practice/personal-injury/">
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">Website: luatdanhviet.com</font>
                                                </font>
                                            </a></li>
                                        <li
                                            class="menu-item menu-item-type-post_type menu-item-object-practice menu-item-189">
                                            <a href="/tf/wp1/aequity/practice/identity-theft/">
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">Giám đốc đại diện: <b>Phạm Quang Huy</b>
                                                    </font>
                                                </font>
                                            </a></li>
                                        <!-- <li
                                            class="menu-item menu-item-type-post_type menu-item-object-practice menu-item-190">
                                            <a href="/tf/wp1/aequity/practice/travel-accident/">
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">Tai nạn du lịch</font>
                                                </font>
                                            </a></li> -->
                                    </ul>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div> <!-- end widget -->
                    </div>
                    <div class="col col-lg-3 col-md-3 col-sm-6">
                        <div class=" widget text-widget">
                            <div class="widget-title">
                                <h3>
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">Bản tin</font>
                                    </font>
                                </h3>
                            </div>
                            <script>(function () {
                                    if (!window.mc4wp) {
                                        window.mc4wp = {
                                            listeners: [],
                                            forms: {
                                                on: function (event, callback) {
                                                    window.mc4wp.listeners.push({
                                                        event: event,
                                                        callback: callback
                                                    });
                                                }
                                            }
                                        }
                                    }
                                })();
                            </script><!-- Mailchimp for WordPress v4.5.3 - https://wordpress.org/plugins/mailchimp-for-wp/ -->
                            <form id="mc4wp-form-2" class="mc4wp-form mc4wp-form-193" method="post" data-id="193"
                                data-name="footer">
                                <div class="mc4wp-form-fields">
                                    <div class="site-footer">
                                        <div class="newsletter-widget">
                                            <p>
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">Theo dõi bản tin của chúng
                                                        tôi và nhận được cập nhật mới nhất</font>
                                                </font>
                                            </p>
                                            <div class="form-area">
                                                <div class="input-1">
                                                    <input type="email" class="form-control"
                                                        placeholder="Địa chỉ email *" required="">
                                                </div>
                                                <div class="submit clearfix">
                                                    <button type="submit"><i class="ti-email"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div><label style="display: none !important;">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">Để trống trường này nếu bạn là con người:
                                        </font>
                                    </font><input type="text" name="_mc4wp_honeypot" value="" tabindex="-1"
                                        autocomplete="off">
                                </label><input type="hidden" name="_mc4wp_timestamp" value="1567590887"><input
                                    type="hidden" name="_mc4wp_form_id" value="193"><input type="hidden"
                                    name="_mc4wp_form_element_id" value="mc4wp-form-2">
                                <div class="mc4wp-response"></div>
                            </form><!-- / Mailchimp for WordPress Plugin -->
                            <div class="clear"></div>
                        </div> <!-- end widget -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer Widgets -->
    <!-- <div class="lower-footer ">
        <div class="container">
            <div class="row">
                <div class="separator"></div>
                <div class="col col-xs-12">
                    <p class="copyright">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">Bản quyền © 2019 Bất công. </font>
                            <font style="vertical-align: inherit;">Đã đăng ký Bản quyền.

                            </font>
                        </font>
                    </p>
                    <div class="site-map">
                        <ul>
                            <li><a href="#">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">Sơ đồ trang web</font>
                                    </font>
                                </a></li>
                            <li><a href="#">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">Chính sách bảo mật</font>
                                    </font>
                                </a></li>
                            <li><a href="#">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">Điều khoản và điều kiện</font>
                                    </font>
                                </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
</footer>