<div class="banner-1">

</div>
<!--banner-end-->
<div class="contact">
  <div class="container">
    <div class="contact-top">
      <h3>Liên hệ với chúng tôi</h3>
      <p>Công ty Luật Danh Việt là công ty luật được thành lập theo quy định của pháp luật, có trụ sở chính tại: Số 38 Ngõ 190 phổ Hạ Đình, phường Thanh Xuân Trung, quận Thanh Xuân, thành phố Hà Nội</p>
    </div>
    <div class="col-md-6 contact-lft">
    <div class="map">
      <iframe src="https://maps.google.com/maps?q=%20Thanh%20Xu%C3%A2n%20Trung%2C%20H%C3%A0%20N%E1%BB%99i&t=k&z=13&ie=UTF8&iwloc=&output=embed"></iframe>
     </div>
    <h4>Địa chỉ</h4>
      <address>
        Trụ sở: Số 38 - Ngõ 190 - P.Hạ Đình, Thanh Xuân Trung, Hà Nội<br>
        VPGD: Số 14 Trần Điền, Khương Mai, Thanh Xuân, Hà Nội<br>
        Phone : 0977.818.686<br>

        Phone : 0987.925.168<br>

        Website : luatdanhviet.com<br>

        Email : danhvietlaw@gmail.com<br>
      </address>
    </div>
     <div class="col-md-6 contact-bottom">
       <!-- <form> -->
        <!-- <input type="text" value="First Name" placeholder="" onfocus="this.value='';" onblur="if (this.value == '') {this.value = 'First Name';}">	 -->
        <input type="text" value="Tên đầy đủ" placeholder="" onfocus="this.value='';" onblur="if (this.value == '') {this.value = 'Last Name';}">
        <input type="text" value="Địa chỉ email" placeholder="" onfocus="this.value='';" onblur="if (this.value == '') {this.value = 'Email Address';}">
        <textarea placeholder="" onfocus="this.value='';" onblur="if (this.value == '') {this.value = 'Message';}">Lời nhắn</textarea>
        <input type="submit" value="Gửi">
      <!-- </form>	 -->
    </div>
      <div class="clearfix"></div>
  </div>
</div>
