<div class="banner-1">
		
</div>
<!--banner-end-->
<!--resource-->
<div class="resource">
  <div class="container">
    <div class="col-md-8 resource-lft">
      <h3>Legal help & resources</h3>
      <div class="res-top">
        <div class="col-md-6 re-lft">
          <img src="../assets/images/12.jpg" alt=" " class="img-responsive">
        </div>
        <div class="col-md-6 re-rgt">
          <h4>Making it look like readable English</h4>
          <p>Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, as opposed to using.making it look like readable English. </p>
          <a class="hvr-shutter-in-horizontal" href="#">More</a>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="res-top">
        <div class="col-md-6 re-lft">
          <img src="../assets/images/14.jpg" alt=" " class="img-responsive">
        </div>
        <div class="col-md-6 re-rgt">
          <h4>Making it look like readable English</h4>
          <p>Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, as opposed to using.making it look like readable English. </p>
          <a class="hvr-shutter-in-horizontal" href="#">More</a>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="col-md-4 resource-rgt">
      <h3>Resources for : </h3>
      <h4>Making it look like readable English</h4>
      <p>Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed  more-or-less normal distribution  to using 'Content here, as opposed to using.making it look like readable English. </p>
        <ul>
          <li><a href="#"><span></span>Social Security Law</a></li>
          <li><a href="#"><span></span>Real Property Law </a></li>
          <li><a href="#"><span></span>Criminal Law</a></li>
          <li><a href="#"><span></span>intellectual property </a></li>
          <li><a href="#"><span></span>Serious Personal Injury Cases </a></li>
          <li><a href="#"><span></span>Immigration Law </a></li>
          <li><a href="#"><span></span>Criminal Law</a></li>
          <li><a href="#"><span></span>intellectual property </a></li>
          <li><a href="#"><span></span>Criminal Law</a></li>
          
        </ul>
    </div>
    <div class="clearfix"></div>
    <div class="about1-bottom2">
        <div class="col-md-4 about1-bottom1">
          <span>01</span>
          <h5><a href="#">At vero eos et accusamus et iusto odio dignissimos </a></h5>
          <p> Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock</p>
        </div>
        <div class="col-md-4 about1-bottom1">
          <span>02</span>
          <h5><a href="#">At vero eos et accusamus et iusto odio dignissimos </a></h5>
          <p> Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock</p>
        </div>
        <div class="col-md-4 about1-bottom1">
          <span>03</span>
          <h5><a href="#">At vero eos et accusamus et iusto odio dignissimos </a></h5>
          <p> Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock</p>
        </div>
      <div class="clearfix"> </div>
    </div>
  </div>
</div>