<div class="row">
  <div class="container">
    <div class="col-md-3 form-left">
        <div class="row">
          <div class="col-xs-4 col-sm-2 col-md-4 form-left-image">
            <img src="https://znews-photo.zadn.vn/w660/Uploaded/ofh_fdmzsofw/2017_05_09/18386481_437476439951053_1928659744_n.jpg" alt="" width="100px" height="auto">
        </div>
        <div class="col-xs-8 col-sm-10 col-md-8 form-left-name">
          <span>Nguyễn Văn A</span>
          <div  class="col-xs-12 col-sm-6 col-md-12">
            Địa chỉ
          </div>
          <div  class="col-xs-12 col-sm-6 col-md-12">
            Mức phí:
          </div>
          </div>
        </div>
        <hr>
        <div class="row">
            <span class="hidden-xs visible-sm visible-md visible-lg">
                <div class="row">
                    <div class="col-sm-6 col-md-12">
                        <div class="btn-contact">
                            <div>0903328166</div>
                        </div>
                        <div class="messaging-error-message-container">

                        </div>
                        <div class="row hidden-sm">
                            <div class="col-xs-12 u-spacer-0"></div>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <span class="js-v-phone-replace">
                            <a href="/luat-su/doan-van-nen-295/luat-su-gui-tin-nhan" class="btn btn-block js-v-profile-card-cta-message  "><i class="far fa-comment"></i> <span class="message-cta">Nhắn tin</span></a>
                        </span>
                    </div>
                    <div class="col-xs-6">
                        <a  rel="nofollow" class="btn btn-block " href="/luat-su/doan-van-nen-295#payments">Mức phí 
                            <span aria-hidden="true" class="icon fas fa-external-link-alt icon-blue"></span>
                        </a>
                    </div>
                </div>
            </span>
          </div>
    </div>
    <div class="col-md-9 form-right">
        <div class="form-right-menu">
            <a (click)="onPressHashtag('#infor', 500)">Thông tin</a>
            <a (click)="onPressHashtag('#price', 500)">Mức phí</a>
            <a (click)="onPressHashtag('#contact', 500)">Liên hệ</a>
            <a (click)="onPressHashtag('#detail', 500)">Chi tiết</a>
        </div>
        <div class="form-right-infor" id="infor">
          <h4><b>Giới thiệu về Luật sư</b></h4>
          <span>
              Luật sư Đoàn Văn A hiện đang là Luật sư thuộc Đoàn Luật sư thành phố Hồ Chí Minh. Với hơn 10 năm kinh nghiệm hành nghề, Luật sư Đoàn Văn Nên đã hỗ trợ thành công nhiều vụ việc cho khách hàng là cá nhân và doanh nghiệp. Luật sư có kinh nghiệm chuyên môn trong các lĩnh vực như Dân sự, Hình sự, Hành chính, Hôn nhân Gia đình, Nhà đất - Xây dựng, Hộ tịch - Tư pháp, Di chúc - Thừa kế, Lao động - Bảo hiểm xã hội... 

              Với sự tận tâm và nhiệt tình, kiến thức chuyên môn cao, Luật sư Đoàn Văn Nên luôn cố gắng mang lại cho khách hàng giải pháp pháp lý tốt nhất. Bên cạnh đó, Luật sư còn tham gia cố vấn Luật cho các đội tình nguyện, hỗ trợ tư vấn pháp luật miễn phí cho người nghèo và đối tượng chính sách.
          </span>
        </div>
          <hr>
        <div class="form-right-price" id="price">
            <div class="card"><h4><b>Mức phí</b></h4></div>
            <div class="col-md-7 price-content">
              <div>Giá trực tiếp</div>
              <div><b>300,000 VND</b></div>
            </div>
            <div class="col-md-7 price-content">
                <div>Giá trực tiếp</div>
                <div><b>300,000 VND</b></div>
              </div>
              <div class="col-md-7 price-content">
                  <div>Giá trực tiếp</div>
                  <div><b>300,000 VND</b></div>
              </div>
        </div>
        <br>
        <div class="row form-right-contact" id="contact">
        <div class="col-md-12"><h4><b>Liên hệ</b></h4></div>

         <div class="row">
            <div class="col-md-6">
                <iframe src="https://maps.google.com/maps?q=%20Thanh%20Xu%C3%A2n%20Trung%2C%20H%C3%A0%20N%E1%BB%99i&t=k&z=13&ie=UTF8&iwloc=&output=embed"></iframe>
            </div>
            <div class="col-md-6">
              <div>
                  <span>Địa chỉ văn phòng/ Công ty: Số 5 Đường 84, Phường 10, Quận 6</span>
              </div>
              <div>
                  <span>Điện thoại: 0903328166</span>
              </div>
              <div>
                  Email: luatsunen@gmail.com
              </div>

              <div class="btn-contact">
                  0903328166
              </div>
              <div class="btn-inbox">
                  0903328166
              </div>
            </div>
         </div>
        </div>


        <div class="row form-right-detail" id="detail">
            <div class="col-md-12"><h4><b>Thông tin chi tiết</b></h4></div>
            <table> 
              <tr class="header-table">
                <td>Tên chứng chỉ</td>
                <td>Nơi cấp</td>
                <td>Năm cấp</td>
              </tr>
              <tr *ngFor="let item of inforDetail">
                  <td>{{item.certificate}}</td>
                  <td>{{item.placeOfIssue}}</td>
                  <td>{{item.yearOfIssue}}</td>
              </tr>
            </table>
        </div>

        <hr>
        <div class="row form-right-prize ">
            <div class="col-md-12"><h4><b>Giải thưởng</b></h4></div>
            <table> 
              <tr class="header-table">
                <td>Tên chứng chỉ</td>
              </tr>
              <tr *ngFor="let item of prize">
                  <td>{{item.name}}</td>
              </tr>
            </table>
        </div>
    </div>
  </div>
</div>