.form-left {
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.text-center {
    text-align: center;
}
.profile-user h4{
    margin-top: 0;
}
.form-right {
    & > div {
        border: 1px solid rgba(0, 0, 0, 0.1);
    }
    .form-right-menu {
        cursor: pointer;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        border-bottom: 1px solid #aaa;
        div {
            width: 25%;
            border: 1px solid white;
            border-top: 4px solid #eaeaea;
            border-bottom: none;
            background-color: #eaeaea;
            color: #333333;
            display: inline-block;
            padding: 13px 0 10px;
            white-space: nowrap;
            text-align: center;
            font-weight: 600;
            &.active{
                background-color: #ffffff;
                border: 1px solid FBC925;
                border-top: 4px solid #FBC925;
            }
        }
    }
    .form-right-infor {

    }
    .form-right-price {
        .price-content{
            display: flex;
            justify-content: space-between;
            position: relative;
            > div {
                background-color: #fff;
                position: relative;
            }
            &::before {
                content: "";
                border-bottom: 1px dotted #ddd;
                position: absolute;
                bottom: 5px;
                width: calc(100% - 30px);
                height: 1px;
            }
        }
    }
    .form-right-detail{
        color: #333333;
        table {border: 1px solid #fff;}
        td {
            border: 1px solid #fff;
        }
        .header-table {
            font-weight: bold;
        }
    }
    .form-right-prize{
        color: #333333;
        table {border: 1px solid #fff;}
        td {
            border: 1px solid #fff;
        }
        .header-table {
            font-weight: bold;
        }
    }
}

.btn-contact{
    text-align: center;
    background-color: orange;
    color: #fff;
    padding: 5px;
    cursor: pointer;
    margin: 4px;
}
.btn-inbox {
    margin: 4px;
    text-align: center;
    padding: 5px;
    cursor: pointer;
    border: 1px solid #003594;
}

@media (max-width: 992px) {

}