<form [formGroup]="chatForm">
    <div id="username-page">
        <div class="username-page-container">
            <h1 class="title">Type your username</h1>
                <div class="form-group">
                    <input type="text" id="name" placeholder="Username" autocomplete="off" class="form-control" formControlName="Username" />
                </div>
                <div class="form-group">
                    <button type="submit" class="accent username-submit" (click)="connect()">Start Chatting</button>
                </div>
        </div>
    </div>
    
    <div id="chat-page" class="hidden">
        <div class="chat-container">
            <div class="chat-header">
                <h2>Spring WebSocket Chat Demo</h2>
            </div>
            <div class="connecting">
                Connecting...
            </div>
            <ul id="messageArea">
    
            </ul>
                <div class="form-group">
                    <div class="input-group clearfix">
                        <input type="text" id="message" formControlName="Message" placeholder="Type a message..." autocomplete="off" class="form-control"/>
                        <button type="submit" class="primary" (click)="sendMessage()">Send</button>
                    </div>
                </div>
        </div>
    </div>

</form>
<!-- <div style="text-align:center">
    <h1>
      Welcome to {{title}}!
    </h1>
    <div class="chat-container">
      <div class="chat">
        <div class="message"></div>
      </div>
    </div>
  </div>
  
  <div class="footer">
    <div class="send-button">
  
      <div class="send" (click)="sendMessage(input.value)">gdfgfd
      </div>
      <input  id="input" type="text" #input>
    </div>
  
  </div>
   -->
  