<div class="page-title crumbs-area-5d8bb8500d7f4"
    style="background-image: url(../../../../assets/images/page-title.jpg)">
    <div class="page-title-container">
        <div class="page-title-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col col-xs-12">
                        <div class="title">
                            <h2>Nhân sự của chúng tôi</h2>
                        </div>
                    </div> <!-- end row -->
                </div> <!-- end container -->
            </div>
        </div>
    </div>
</div>
<div class="kc-css-788920 section-site">
    <div class="kc-row-container  kc-container">
        <div class="kc-wrap-columns">
            <div class="kc-css-879100 kc_col-sm-12 kc_col-sm-12 px-3">
                <div class="kc-col-container">
                    <div class="section-title-area aequity-title  section-title-area-5d6f89e70edfc">
                        <div class="row">
                            <div class="col col-xs-12 ">
                                <div class="section-title">
                                    <span>
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">Đội ngũ kinh nghiệm</font>
                                        </font>
                                    </span>
                                    <h2>
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">Thành viên trong nhóm</font>
                                        </font>
                                    </h2>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="team-section  team-section-5d6f89e70ee24 ">
                        <div class="row">
                            <div class="col col-xs-12">
                                <div class="team-grids">
                                    <div class="grid" *ngFor="let user of listUser">
                                        <div class="member-pic">
                                            <img src="{{user.image}}" alt="">
                                        </div>
                                        <div class="info">
                                            <h3><a routerLink="{{'/profile/' + user.id}}">
                                                    <font style="vertical-align: inherit;">
                                                        <font style="vertical-align: inherit;">{{user.name}}</font>
                                                    </font>
                                                </a></h3>
                                            <span>
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">Lĩnh vực: {{user.field}}
                                                    </font>
                                                </font>
                                            </span>
                                            <ul>
                                                <li><i class="ti-mobile"></i>
                                                    <font style="vertical-align: inherit;">
                                                        <font style="vertical-align: inherit;">{{user.phone}}</font>
                                                    </font>
                                                </li>
                                                <li><i class="ti-email"></i>
                                                    <font style="vertical-align: inherit;">
                                                        <font style="vertical-align: inherit;">
                                                            {{user.email + '@gmail.com'}}</font>
                                                    </font>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>