<!-- <section class="kc-elm kc-css-788920 kc_row section-site">
    <div class="kc-row-container  kc-container">
        <div class="kc-wrap-columns">
            <div class="kc-elm kc-css-879100 kc_col-sm-12 kc_column kc_col-sm-12">
                <div class="kc-col-container">
                    <div class="section-title-area aequity-title  section-title-area-5d6f89e70edfc">
                        <div class="row">
                            <div class="col col-xs-12 ">
                                <div class=" section-title-s2">
                                    <span>
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">Đội ngũ kinh nghiệm</font>
                                        </font>
                                    </span>
                                    <h2>
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">Thành viên trong nhóm</font>
                                        </font>
                                    </h2>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</section> -->
<div class="team-section  team-section-5d6f89e70ee24 container">
  <div style=" display: flex; justify-content: center;">
      <ul style="width: 80%; margin: 0; padding: 0; display: flex; flex-direction: row; flex-wrap: wrap;
        justify-content: flex-start;">
          <li style="padding: 5px; margin: 15px; border: solid rgb(44, 44, 44, 0.2) 1px" *ngFor="let user of listUser">
              <div style="text-align: -webkit-center; max-width: 250px;">
                  <div class="member-pic" style="height: 200px; max-width: 200px;">
                      <img src="{{user.image}}" alt="" style="height: 200px;">
                  </div>
                  <div class="info" style="padding-top: 20px;">
                      <h3 style="text-align: center;"><a routerLink="{{'/profile/' + user.id}}">
                              <font style="vertical-align: inherit;">
                                  <font style="vertical-align: inherit;
                                  color: #c83226; font-weight: bold">{{user.name}}</font>
                              </font>
                          </a></h3>
                      <div style="word-break: break-word">
                          <font style="vertical-align: inherit; color: #5d6d7a">Lĩnh vực: {{user.field}}</font>
                      </div>
                      <ul style="text-align: left; word-break: break-all">
                          <li>
<!--                            <i class="ti-mobile"></i>-->
                            <font style="vertical-align: inherit">
                              <font style="vertical-align: inherit;">{{user.phone}}</font>
                            </font>

                            <span style="border-left: solid red 1px;">
                              <font style="vertical-align: inherit;">{{user.email + '@gmail.com'}}</font>
                            </span>
                          </li>
<!--                          <li>-->
<!--&lt;!&ndash;                            <i class="ti-email"></i>&ndash;&gt;-->
<!--                              <font style="vertical-align: inherit;">-->
<!--                                  <font style="vertical-align: inherit;">{{user.email + '@gmail.com'}}</font>-->
<!--                              </font>-->
<!--                          </li>-->
                      </ul>
                  </div>
              </div>
          </li>
      </ul>
  </div>
</div>
