<div class="banner-1">
		
</div>
<div class="practice">
  <div class="container">
  <div class="col-md-4 practice-left">
    <h3>Practice of Law</h3>
      <ul>
        <li><a href="#"><span></span>Social Security Law</a></li>
        <li><a href="#"><span></span>Real Property Law </a></li>
        <li><a href="#"><span></span>Criminal Law</a></li>
        <li><a href="#"><span></span>intellectual property </a></li>
        <li><a href="#"><span></span>Serious Personal Injury Cases </a></li>
        <li><a href="#"><span></span>Immigration Law </a></li>
        <li><a href="#"><span></span>Criminal Law</a></li>
        <li><a href="#"><span></span>intellectual property </a></li>
        <li><a href="#"><span></span>Criminal Law</a></li>	
        <li><a href="#"><span></span>Business Law </a></li>
        <li><a href="#"><span></span>Malpractice Law </a></li>
        <li><a href="#"><span></span>Family Law</a></li>
        <li><a href="#"><span></span>Insurance Law</a></li>
        <li><a href="#"><span></span>Security Law</a></li>	
      </ul>
  </div>
  <div class="col-md-8 practice-right">
    <h3>Practice Center</h3>
    <p>Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis 
      natoque penatibus et magnis dis parturient montes, nascetur ridicu-lus mus. Nulla dui. Fusce feugiat malesuada odio</p>
    <div class="pra-lft">
      <img src="../assets/images/20.jpg" alt=" " class="img-responsive">
    </div>
    <div class="pra-rgt">
      <p>Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis 
      natoque penatibus et magnis dis parturient montes, nascetur ridicu-lus mus. Nulla dui. Fusce feugiat malesuada odio</p>
      <p>Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta.</p>
    </div>
    <div class="clearfix"></div>
      <p> Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes,Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridicu-lus mus. Nulla dui. Fusce feugiat malesuada odio nascetur ridicu-lus mus. Nulla dui. Fusce feugiat malesuada odio</p>
      
  </div>
  <div class="clearfix"></div>
  <div class="pra-tp">
    <h3>Private Practice</h3>
    <div class="col-md-4 pr-rgt">
      <img src="../assets/images/5.jpg" alt=" " class="img-responsive">
    </div>
    <div class="col-md-8 pr-lft">
      <p> Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes,Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridicu-lus mus. Nulla dui. Fusce feugiat malesuada odio nascetur ridicu-lus mus. Nulla dui. Fusce feugiat malesuada odio</p>
      <p> Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes,Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridicu-lus mus. Nulla dui. Fusce feugiat malesuada odio nascetur ridicu-lus mus. Nulla dui. Fusce feugiat malesuada odio</p>
    </div>
      <div class="clearfix"></div>
  </div>
</div>
</div>